html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 给home里的所有组件面包屑和卡片之间一个距离 */
.el-breadcrumb {
    margin-bottom: 16px;
}

/* 所有组件的卡片于面包屑带一个距离 */
.el-card {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15) !important;
}

/* 所有表格头部设置距离 */
.el-table {
    margin-top: 20px;
}

/* 全局设置分页的头部距离 */
.el-pagination {
    margin-top: 20px
}

/* 解决element ui级联选择器高度溢出，指定高度 */
.el-cascader-menu {
    height: 250px;
}

/* 级联选择器前方圆圈解决 */
.el-cascader-panel .el-radio {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0px;
    right: 10px;
}

.el-cascader-node__label {
    width: 157px;
}

.el-cascader-panel .el-radio__input {
    visibility: hidden;
}

.el-cascader-panel .el-cascader-node__postfix {
    top: 10px;
}
.ql-editor {
    min-height: 400px!important;
}